body {
    background-size: cover;
    background-image: url("./images/rosaryappbackground"); 
    margin-top: 0px;
    margin-left: 5px;
    margin-right:5px;
} 

h4{
    font-style: underline;
}

#refresh{
    border-radius: 700px;

}


.btn {background-color: #7B3F00;
         border-radius: 70px;
         text-align: center;
         text-wrap:word;
         text-decoration-thickness: 12pt;
         text-decoration-style: solid;
         font-family:  "Gill Sans Extrabold", sans-serif;
        margin: 2px;
        width: 300px;
        height:50px;

        }

       
.heading {text-align: center;
    background-color: rgb(131, 55, 1);
    border-radius: 15px;
}

h2 {font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;}


.flex-container{
    display: flex;
    flex-direction:row-reverse;
    align-items: stretch;
    justify-content:flex-start;
}

.flex-container3{
    display:flex;
    flex-direction: row-reverse;
}